<launch>

  <arg name="namespace" default="floatsam"/>

  <group ns="$(arg namespace)">
    <group ns="payload">

    <!-- UW GPS antenna -->
    <node name="uwgps" pkg="uw_gps" type="payload_uwgps_node.py" output="screen">
      <param name="uwgps_frame" value="$(arg namespace)/uw_gps_link"/>
      <param name="uwgps_server_ip" value="http://192.168.2.94"/>
      <!-- <param name="uwgps_server_ip" value="https://demo.waterlinked.com"/> -->
      <param name="rpm_chase" value="1500"/>
      <param name="goto_wp_server" value="/$(arg namespace)/ctrl/goto_waypoint"/>
      <param name="goal_tolerance" value="6."/>
      <param name="node_freq" value="1."/>
    </node>

    <node name="acomm_uw_gps" pkg="uw_gps" type="uw_gps_comm.py" output="screen">
      <param="utm_frame" value="utm">
      <param="goto_wp_server_goal" value="/$(arg namespace)/ctrl/goto_waypoint/goal">
      <param="uw_comm_out_top" value="/$(arg namespace)/core/acomms/outgoing/sam/uwgps">
    </node>

    </group>
  </group>

</launch>
