<launch>

  <arg name="save_path" default="/xavier_ssd/autobags"/>
  <arg name="bag_name" default="sam_core"/>
  <arg name="exclude_topics" default="/camera1/video_source/raw|/camera2/video_source/raw|/lolo/camera/pose|/lolo_camera/associated_image_points|/lolo_camera/estimated_pose|/lolo_camera/image_processed|/lolo_camera/image_processed_pose|/lolo_camera/image_processed_draw"/>

  <!--node pkg="rosbag" type="record" name="rosbag_record_core" args="record -o $(arg save_path)/$(arg bag_name) -a -x '/camera*'"/-->
  <!--<node pkg="rosbag" type="record" name="rosbag_record_core" args="record -o $(arg save_path)/$(arg bag_name) -a -x $(arg exclude_topics)"/> -->


</launch>
