<launch>

    <arg name="namespace" default="sam"/>

	<!-- Start all actions before the BT -->
	<!--All the minute configs are in its own config file in the launch dir-->
	<arg name="config_file" default="$(find-pkg-prefix smarc_bt)/launch/config.yaml"/>


	<group>
		<push-ros-namespace namespace="$(var namespace)"/>

		<node name="smarc_bt" pkg="smarc_bt" exec="bt_trunk.py" output="screen">
			<!--Load this first so it can be over-written by other params later-->
			<param from="$(var config_file)"/>
			<param name="robot_name" value="$(var namespace)" />
			<param name="config_file" value="$(var config_file)"/>
		</node>

		<include file="$(find-pkg-prefix smarc_nodered)/launch/smarc_nodered.launch">
			<arg name="robot_name" value="$(var namespace)"/>
		</include>

	</group>

	<include file="$(find-pkg-prefix sam_action_servers)/launch/sam_actions.launch" >
		<arg name="namespace" value="$(var namespace)"/>	
	</include>
    
</launch>
