<launch>

  <arg name="namespace" default="sam"/>
  <arg name="driver_port" default="/dev/ttyUSB3"/>

  <include file= "$(find smarc_acomms_nm3)/launch/full_acomms_stack.launch">
      <arg name="robot_name" value="$(arg namespace)"/>
      <arg name="driver_port" value="$(arg driver_port)"/>
  </include>
  
  <group ns="$(arg namespace)">

    <node pkg="smarc_acomms" type="vehicle_uwcomm_interface" name="vehicle_uwcomm_interface" output="screen">
        <param name="lat_lon_top" value="/$(arg namespace)/dr/lat_lon"/>
        <param name="depth_top" value="/$(arg namespace)/dr/depth"/>
        <param name="heading_top" value="/$(arg namespace)/sbg/ekf_euler"/>
        <param name="uwgps_odom_top" value="/$(arg namespace)/uwgps/odom"/>
        <param name="in_nav_report_top" value="/$(arg namespace)/acomms/incoming/cm_station/navigation_report"/>
        <param name="out_bt_top" value="/$(arg namespace)/acomms/outgoing/broadcast/mission_control"/>
        <param name="mission_control_top" value="/$(arg namespace)/smarc_bt/mission_control"/>
        <param name="in_bt_top" value="/$(arg namespace)/acomms/incoming/cm_station/mission_control"/>
        <param name="lat_lon_server" value="/$(arg namespace)/dr/lat_lon_to_utm"/>
        <param name="out_nav_report_top" value="/$(arg namespace)/acomms/outgoing/cm_station/navigation_report"/>
        <param name="uwcomms_heartbeat_top" value="/$(arg namespace)/uwcomms/uw_heartbeat"/>
        <param name="in_heartbeat_top" value="/$(arg namespace)/acomms/incoming/cm_station/heartbeat"/>
        <param name="mission_fb_period" value="10."/>
        <param name="nav_report_period" value="20."/>
    </node>

</group>

</launch>
