<launch>

    <arg name="debug" default="0"/>
    <arg name="mode" default="default"/>
    <arg name="namespace" default="cm_station"/>
    <arg name="broker_port" default="1883"/>
    <arg name="broker_addr" default="192.168.2.135"/>
    <!-- If you want to use the local node-red and mqtt brokers: -->
    <arg name="local_broker_addr" default="localhost"/>
    <arg name="uw_comm_port" value="/dev/ttyUSB1"/>

    <include file= "$(find smarc_acomms_nm3)/launch/full_acomms_stack.launch">
        <arg name="robot_name" value="$(arg namespace)"/>
        <arg name="driver_port" value="$(arg uw_comm_port)"/>
    </include>

    <group ns="$(arg namespace)">


        <node pkg="smarc_acomms" type="station_uwcomm_interface" name="station_uwcomm_interface" output="screen">
            <param name="lat_lon_top" value="/$(arg namespace)/dr/lat_lon"/>
            <param name="depth_top" value="/$(arg namespace)/dr/depth"/>
            <param name="yaw_top" value="/$(arg namespace)/dr/yaw"/>
            <param name="in_pose_top" value="/$(arg namespace)/acomms/incoming/sam/navigation_report"/>
            <param name="out_uwgps_top" value="/$(arg namespace)/acomms/outgoing/broadcast/navigation_report"/>
            <param name="uwgps_topic" value="/$(arg namespace)/uwgps/locator"/>
        </node>

        <!-- <node name="smarc_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg robot_name)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find smarc_nodered)/launch/config.yaml" command="load" />
        </node> -->

        <!-- <node name="cm_station_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg namespace)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find smarc_acomms)/config/config_acomms.yaml" command="load" />
        </node> -->

    </group>

</launch>
