<launch>

    <arg name="debug" default="0"/>
    <arg name="mode" default="default"/>
    <arg name="namespace" default="cm_station"/>

    <group ns="$(arg namespace)">

        <group ns="uwgps">

            <!-- UW GPS antenna -->
            <node name="station_uwgps" pkg="uw_gps" type="station_uwgps_node.py" output="screen">
                <param name="base_frame" value="$(arg namespace)/base_link"/>
                <param name="utm_frame" value="$utm"/>
                <param name="uwgps_frame" value="$(arg namespace)/uw_gps_link"/>
                <param name="uwgps_server_ip" value="http://192.168.2.94"/>
                <param name="node_freq" value="1."/>
                <param name="gps_topic" value="/$(arg namespace)/core/gps"/>
                <param name="sbg_topic" value="/$(arg namespace)/core/sbg_imu"/>
                <param name="uwgps_topic" value="/$(arg namespace)/uwgps/target"/>
                
                <!--<param name="uwgps_server_ip" value="https://demo.waterlinked.com"/>-->
                <!-- <param name="rpm_chase" value="1500"/>
                <param name="goto_wp_server" value="/$(arg namespace)/ctrl/goto_waypoint"/>
                <param name="goal_tolerance" value="6."/> -->
            </node>

        </group>


    </group>

</launch>