<launch>

    <arg name="debug" default="0"/>
    <arg name="mode" default="default"/>
    <arg name="namespace" default="cm_station"/>
    <arg name="broker_port" default="1884"/>
    <!-- <arg name="broker_addr" default="192.168.2.135"/> -->
    <arg name="broker_addr" default="20.240.40.232"/>

    <!-- If you want to use the local node-red and mqtt brokers: -->
    <arg name="local_broker_addr" default="localhost"/>
    <arg name="uw_comm_port" value="/dev/ttyUSB1"/>

    <include file= "$(find smarc_acomms_nm3)/launch/full_acomms_stack.launch">
        <arg name="robot_name" value="$(arg namespace)"/>
        <arg name="driver_port" value="$(arg uw_comm_port)"/>
    </include>

    <group ns="$(arg namespace)">

        <node pkg="smarc_acomms" type="station_uwcomm_interface" name="station_uwcomm_interface" output="screen">
            <param name="uw_lat_lon_top" value="/$(arg namespace)/uw_comms/lat_lon"/>
            <param name="uwgps_lat_lon_top" value="/$(arg namespace)/uwgps/lat_lon"/>
            <param name="depth_top" value="/$(arg namespace)/dr/depth"/>
            <param name="yaw_top" value="/$(arg namespace)/dr/yaw"/>
            <param name="utm_server" value="/$(arg namespace)/core/utm_to_lat_lon"/>
            <param name="in_nav_report_top" value="/$(arg namespace)/acomms/incoming/sam/navigation_report"/>
            <param name="out_nav_report_top" value="/$(arg namespace)/acomms/outgoing/broadcast/navigation_report"/>
            <param name="send_uwgps_top" value="/$(arg namespace)/uwgps/send"/>
            <param name="uwgps_topic" value="/$(arg namespace)/uwgps/locator"/>
            <param name="out_bt_top" value="/$(arg namespace)/acomms/outgoing/broadcast/mission_control"/>
            <param name="bt_mission_top" value="/$(arg namespace)/smarc_bt/mission_control"/>
            <param name="heartbeat_top" value="/$(arg namespace)/acomms/outgoing/broadcast/hearbeat"/>
            <param name="heartbeat_period" value="10."/>
        </node>

        <!-- <node name="smarc_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg robot_name)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find smarc_nodered)/launch/config.yaml" command="load" />
        </node> -->
    </group>

    <!-- This bridge allows visualizing SAM's DR estimate from the UW comms in nodered -->
    <arg name="namespace_sam" default="cm_station"/>
    <group ns="$(arg namespace_sam)">
        <node name="uw_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg namespace_sam)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find smarc_acomms)/config/config_acomms.yaml" command="load" />
        </node>
    </group>

</launch>
