<launch>

    <arg name="debug" default="0"/>
    <arg name="mode" default="default"/>
    <arg name="namespace" default="cm_station"/>
    <arg name="broker_addr" default="20.240.40.232"/>
    <arg name="broker_port" default="1884"/>
    <!-- If you want to use the local node-red and mqtt brokers: -->
    <arg name="local_broker_addr" default="localhost"/>
    
    <group ns="$(arg namespace)">

        <group ns="uwgps">

            <!-- UW GPS antenna -->
            <node name="station_uwgps" pkg="uw_gps" type="station_uwgps_node.py" output="screen">
                <param name="base_frame" value="$(arg namespace)/base_link"/>
                <param name="map_frame" value="map"/>
                <param name="utm_frame" value="utm"/>
                <param name="uwgps_frame" value="$(arg namespace)/uw_gps_link"/>
                <!-- <param name="uwgps_server_ip" value="http://192.168.2.94"/> -->
                <param name="uwgps_server_ip" value="https://demo.waterlinked.com"/>
                <param name="node_freq" value="0.2"/>
                <param name="gps_topic" value="/$(arg namespace)/core/gps"/>
                <param name="sbg_topic" value="/$(arg namespace)/core/sbg_imu"/>
                <param name="uwgps_topic" value="/$(arg namespace)/uwgps/locator"/>
                <param name="station_gps_top" value="/$(arg namespace)/core/gps"/>
                <param name="gps_geo_top" value="/$(arg namespace)/dr/lat_lon"/>
            </node>

        </group>

        <!-- This bridge allows visualizing the cm station position from its GPS in nodered -->
        <node name="mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg namespace)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find cm_station_drivers)/config/cm_mqtt.yaml" command="load" />
        </node>

    </group>

    <!-- This bridge allows visualizing SAM's pose from the UW GPS in nodered -->
    <arg name="namespace_sam" default="uwgps_sam"/>
    <group ns="$(arg namespace_sam)">
        <node name="uwgps_mqtt_bridge_node" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
            <rosparam subst_value="true"> mqtt/private_path: "smarc/$(optenv USER nouser)_$(arg namespace_sam)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/host: "$(arg broker_addr)" </rosparam>
            <rosparam subst_value="true"> mqtt/connection/port: $(arg broker_port) </rosparam>
            <rosparam file="$(find uw_gps)/config/config_uwgps.yaml" command="load" />
        </node>
    </group>

</launch>
