<launch>

    <arg name="debug" default="0"/>
    <arg name="mode" default="default"/>
    <arg name="namespace" default="cm_station"/>

    <arg name="utm_zone" default="32"/>
    <arg name="utm_band" default="V"/>
    <!-- <arg name="gps_port" value="/dev/ttyACM1"/>
    <arg name="gps_baud" value="115200"/> -->

    <arg name="param_file_name"     doc="name of param file, e.g. rover" 
                                default="zed_f9p"/>
    <arg name="param_file_dir"      doc="directory to look for $(arg param_file_name).yaml"
                                  default="$(find ublox_gps)/config" />

    <arg name="uw_comm_port" value="/dev/ttyUSB1"/>

    <group ns="$(arg namespace)">

        <param name="robot_description"
            command="$(find xacro)/xacro '$(find cm_station_description)/robots/cm_station_default.urdf.xacro' debug:=$(arg debug) namespace:=$(arg namespace)"/>

        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
            <!-- <param name="rate" value="100"/> -->
            <param name="use_gui" value="false"/>
            <rosparam param="source_list">["command_states"]</rosparam>
        </node>
        
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
            <param name="robot_description" value="/$(arg namespace)/robot_description"/>        
        </node>

        <!-- SBG IMU driver -->
        <node name="sbg_ellipseA" pkg="sbg_driver" type="sbg_device" output="screen">
            <rosparam command="load" file="$(find sbg_driver)/config/ellipse_A_cm.yaml" />
        </node>
        
        <node pkg="sbg_driver" name="sbg_2_ros" type="sbg_to_ros.py" output="screen">
            <param name="sbg_imu_data" value="/$(arg namespace)/sbg/imu_data"/>
            <param name="sbg_ekf_quat" value="/$(arg namespace)/sbg/ekf_quat"/>
            <param name="sbg_mag" value="/$(arg namespace)/sbg/mag"/>
            <param name="sbg_utc_time" value="/$(arg namespace)/sbg/utc_time"/>
            <param name="sbg_frame" value="$(arg namespace)/sbg_link"/>
            <param name="sbg_imu_out" value="/$(arg namespace)/core/sbg_imu"/>
        </node>

        <node pkg="ublox_gps" type="ublox_gps" name="navsat" ns="core">
            <arg name="param_file_name" value="zed_f9p"/>
            <param name="frame_id" value="$(arg namespace)/gps_link"/>
            <remap from="navsat/fix" to="/$(arg namespace)/core/gps"/>
            <rosparam command="load"
                file="$(arg param_file_dir)/$(arg param_file_name).yaml" />
        </node>

        <node pkg="tf_lat_lon" type="tf_lat_lon_node" name="tf_lat_lon_node" output="screen" ns="core">
          <param name="frame" value="$(arg namespace)/base_link"/>
          <param name="utm_zone" value="$(arg utm_zone)"/>
          <param name="utm_band" value="$(arg utm_band)"/>
          <remap from="tf_lat_lon" to="lat_lon"/>
        </node>

    </group>     


</launch>
