<launch>

<arg name="publisher_uav_node_id" default="98"/>
<arg name="subscriber_uav_node_id" default="97"/>
<!-- <arg name="time_master_uav_node_id" default="1"/> -->
<!-- <arg name="network_monitor_uav_node_id" default="99"/> -->
<arg name="services_uav_node_id" default="100"/>
<arg name="robot_name" default="sam"/>
<arg name="uav_can_interface" default="can0"/>


        <node name="ros_to_uavcan_bridge" pkg="sam_uavcan_bridge" exec="ros_to_uavcan_bridge" respawn="true" output="screen" namespace ="$(var robot_name)">
            <param name="uav_node_id" value="$(var publisher_uav_node_id)"/>
            <param name="uav_can_interface" value="$(var uav_can_interface)"/>

        </node>

        <!-- <node name="uavcan_time_master" pkg="sam_uavcan_bridge" type="sam_uavcan_time_master" respawn="true" output="screen">
            <param name="uav_node_id" value="$(arg time_master_uav_node_id)"/>
            <param name="uav_can_interface" value="$(arg uav_can_interface)"/>
        </node> -->

        <node name="uavcan_to_ros_bridge" pkg="sam_uavcan_bridge" exec="uavcan_ros_bridge" respawn="false" output="screen" namespace = "$(var robot_name)">
            <param name="uav_node_id" value="$(var subscriber_uav_node_id)"/>
            <param name="uav_can_interface" value="$(var uav_can_interface)"/>

        </node>

        <!-- <node name="uavcan_network_monitor" pkg="sam_uavcan_bridge" type="sam_uavcan_network_monitor" respawn="true" output="screen">
            <param name="uav_node_id" value="$(arg network_monitor_uav_node_id)"/>
            <param name="uav_can_interface" value="$(arg uav_can_interface)"/>
            <remap from="~uavcan_network_status" to="uavcan_status"/>
        </node> -->

        <node name="ros_to_UC_services" pkg="sam_uavcan_bridge" exec="ros_to_uavcan_services" respawn="true" output="screen" namespace ="$(var robot_name)">
            <param name="uav_node_id" value="$(var services_uav_node_id)"/>
            <param name="uav_can_interface" value="$(var uav_can_interface)"/>
            <!-- <remap from="~get_node_info" to="uavcan_get_node_info"/>
            <remap from="~get_transport_stats" to="uavcan_get_transport_stats"/>
            <remap from="~restart_node" to="uavcan_restart_node"/>
            <remap from="~update_battery" to="uavcan_update_battery"/> -->
        </node>



</launch>
